# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  name:  sblAgent
  demands:
  - JAVA_HOME_17_X64
  - java

steps:

- task: SonarCloudPrepare@3
  inputs:
    SonarQube: 'ArkaSonarQube'
    organization: 'enyoisantiagob'
    scannerMode: 'cli'
    configMode: 'manual'
    cliProjectKey: 'EnyoiSantiagoB_ArkaSantiagoB'
    cliProjectName: 'ArkaSantiagoB'
    cliSources: '.'
    extraProperties: |
      sonar.projectKey=EnyoiSantiagoB_ArkaSantiagoB
      sonar.projectName=$(Build.Repository.Name)
      sonar.projectVersion=$(Build.BuildNumber)
      sonar.sourceEncoding=UTF-8
      sonar.language=java
      sonar.java.source=17
      sonar.java.target=17
      sonar.java.binaries=./build/classes

- task: Gradle@3
  inputs:
    gradleWrapperFile: 'gradlew'  # Path to your Gradle wrapper
    tasks: 'build'  # Replace with the tasks you want to run
    gradleOpts: '-Xmx2048m' 
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'  # Updated pattern for test result files
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'  # Replace with your JDK version
    jdkArchitectureOption: 'x64'

- task: SonarCloudAnalyze@3
  inputs:
    jdkversion: 'JAVA_HOME_17_X64'

- task: SonarCloudPublish@3
  inputs:
    pollingTimeoutSec: '300'

- task: CopyFiles@2
  inputs:
    SourceFolder: 'build/libs'
    Contents: |
      *jar
      !*plain.jar
    TargetFolder: '$(Build.Repository.LocalPath)/deployment/app'

- task: CopyFiles@2
  displayName: 'copy deployment files'
  inputs:
    SourceFolder: 'deployment/'
    Contents: 'infrastructure/**'
    TargetFolder: '$(Build.Repository.LocalPath)/deployment/app'



- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.BinariesDirectory)'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.Repository.LocalPath)/deployment/app'
    ArtifactName: 'artifact'
    publishLocation: 'Container'


